<% include ../partials/header%>
<div class="container">
    <header class="jumbotron">
        <h1>Welcome to YelpCamp</h1>
        <p>The Best Tent Camping in National Parks accross the United States!</p>
        <a class="btn btn-primary btn-lg" href="/campgrounds/new">Add New Campground</a>
    </header>
    
    <div class="row text-center">
        <%campgrounds.forEach(function(campground) {%>
            <div class="col-md-3 col-sm-6 ">
                <div class="thumbnail">
                    <image style="height:200px" src="<%=campground.image%>"></image>
                    <div class="caption">
                        <h4><%=campground.name%></h4>
                    </div>
                    <p>
                        <a class="btn btn-primary" href="/campgrounds/<%= campground._id%>">More Info</a>
                    </p>
                    
                </div>
            </div>
        <%});%>
    </div>
</div>
            <div class="col-sm-6 col-md-4">
            <div class="thumbnail"> 

<%include ../partials/footer%>