<% include ../partials/header%>
<div class="container">
<h1>Sign Up for Yelp Camp!</h1>

<form action="/register" method="POST">
    <input type="text" placeholder="username" name="username">
    <input type="password" placeholder="password" name="password">
    <input type="submit" value="Sign Up!">
</form>
<p>Already registered? <a href="/login">Sign In</a></p>
</div>
<%include ../partials/footer%>